.list-style {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: royalblue;
}
.list-image {
  width: 200px;
  height: 200px;
}
.list-style li:last-child {
  margin-bottom: 15px;
}
.list-item-container {
  display: flex;
}
.content {
  overflow: auto;
  margin-left: 20px;
}
